<!DOCTYPE html>
<html lang="en">


<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

  {% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

  <title>{% block title %}{% endblock %} - Telemetria Automovel</title>
  {% endblock %}

</head>

<body>
  <a href="https://www.isep.ipp.pt/" target="_blank"><img src="../static/figures/logo_isep-removebg-preview.png"
      alt="ISEP Logo" style="float:right;width: 12%;height: 12%;margin-right: 0.5%;"></a>

  <h1><i>Telemetria Automóvel</i></h1>

  <div id="content">{% block content %}{% endblock %}</div>

  <!-- Tab links -->
  <div class="tab">
    <button id="Home Button" class="tablinks" onclick="openCity(event, 'Home')">Home</button>
    <button class="tablinks" onclick="openCity(event, 'Links')">Links</button>
    <button class="tablinks" onclick="openCity(event, 'Report')">Report</button>
  </div>

  <!-- Tab content -->

  <!-- #region 1º BUTTON -->
  <div id="Home" class="tabcontent">

    <!--1º Column-->

    <div class="row">
      <div class="first column">

        <h2>Speeds</h2>
        <table class="center">
          <tr>
            <th>Greatness</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>Instant Velocity (km/h)</td>
            <td><var id="vel_status">{{ vel_status }}</var></td>
          </tr>
          <tr>
            <td>Average Velocity (km/h)</td>
            <td><var id="vel_avg_status">{{ vel_avg_status }}</var></td>
          </tr>
          <tr>
        </table>
      </div>

      <!--2º Column-->

      <div class="second column">
        <h2>Temperature</h2>

        <table class="center">
          <tr>
            <th>Greatness</th>
            <th>Value</th>
            <th>Uncertainty</th>
          <tr>
            <td>Celsius (&#8451)</td>
            <td><var id="temp_celsius">{{ tempC_status }}</var></td>
            <td>± 5%</td>
          </tr>
          <tr>
            <td>Fahrenheit (&#x2109)</td>
            <td><var id="temp_fahren">{{ tempF_status }}</var></td>
            <td>± 5%</td>
          </tr>
          <tr>
            <td>Kelvin (&#8490)</td>
            <td><var id="temp_kelv">{{ tempK_status }}</var></td>
            <td>± 5%</td>
          </tr>
        </table>

      </div>

      <!--3º Column-->

      <div class="third column">
        <h2>LED</h2>

        <p style="padding-left: 7.5%;"><button id="my-button">On/Off</button>&nbsp;&nbsp;&nbsp;Led State: <var
            id="led_status">{{ led_status }}</var></p>

        <script>
          // get the button
          const button = document.querySelector('#my-button');

          // add a click event listener to the button
          button.addEventListener('click', () => {
            // get the value of the variable
            const blink = '2';

            // send an HTTP POST request to the Flask app
            fetch('/send', {
              method: 'POST',
              body: JSON.stringify({ blink }),
              headers: {
                'Content-Type': 'application/json'
              }
            });
          });
        </script>

      </div>
    </div>
    <!--End of TABLE-->

    <h2>Coordinates</h2>

    <script async src="../static/scripts/update_vars.js"></script>
    <script async src="../static/scripts/maps_api.js"></script>

    <div id="map"></div>

    <!-- End of 1º BUTTON -->
  </div>
  <!-- #endregion -->
  <!-- #region 2º BUTTON -->
  <div id="Links" class="tabcontent">
    <center><a href="https://github.com/Lipex5/vehicle_telemetry" target="_blank"><img
          src="../static/figures/GitHubLogo.png" alt="GitHub Logo" style="width: 12%; height: 12%;"></a></center>
    <p>Check out <a href="https://github.com/Lipex5/vehicle_telemetry" target="_blank">GitHub</a> project repository for
      source code.</p>
  </div>
  <!-- #endregion -->
  <!-- #region 3º BUTTON -->
  <div id="Report" class="tabcontent">
    <p>Check out our project <a href="http://localhost:5001/report" target="_blank">report</a>.</p>
  </div>
  <!-- #endregion -->

  <!-- WebPage Script content -->

  <script type="text/javascript" src="../static/scripts/button_tab.js"></script>
  <script>
    window.onload = function () {
      document.getElementById("Home Button").click();
    }
  </script>

  <div id="footer">
    <p></p>
    {% block footer %}
    &copy; Copyright 2022 by <a href="https://github.com/Lipex5/vehicle_telemetry">Hugo & Lipex</a>.
    {% endblock %}
  </div>

</body>


</html>