<p>&nbsp;</p>
<table style="break-before: page; width: 100%;" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr valign="TOP">
			<td style="width: 6%;" colspan="2" bgcolor="#0099ff" width="9%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="width: 62.4907%;" colspan="7" bgcolor="#0099ff" width="75%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: none; text-decoration: none; padding: 0cm 0cm 0.08cm 0cm;"
					align="LEFT"><a name="In&iacute;cio"></a> <span style="color: #ffffff;"> <span
							style="font-family: Thorndale, serif;"> <span
								style="font-size: xx-large;"><em><strong>Telemetria
										Autom&oacute;vel&nbsp;</strong></em></span> </span> </span></p>
			</td>
			<td style="width: 30.5428%;" colspan="3" rowspan="4" bgcolor="#0099ff" width="17%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm; background: transparent; border: none; padding: 0cm; text-decoration: none;"
					align="CENTER"><img src="image002.jpg" width="231" height="110" name="graphics1" align="RIGHT"
						border="0" /><br clear="RIGHT" /><span style="color: #ffffff;"> <span
							style="font-family: Thorndale, serif;"> <span
								style="font-size: large;"><em><strong>LABSIS</strong></em></span> </span> </span></p>
				<p style="margin-bottom: 0.51cm; background: transparent; border: none; padding: 0cm; text-decoration: none;"
					align="CENTER"><span style="color: #ffffff;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: medium;"><em><strong>2022/2023</strong></em></span> </span> </span>
				</p>
				<p align="CENTER">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 68.4907%;" colspan="9" bgcolor="#0099ff" width="83%" height="34">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: large;"><em><strong>Autores:</strong></em></span> </span> </span></p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 6%;" bgcolor="#0099ff" width="6%">
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="width: 36.4395%;" colspan="5" bgcolor="#0099ff" width="44%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #000000;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: xx-small;"><em><strong> <span style="color: #ffffff;"> <span
												style="font-size: medium;">Manuel Ferreira (N&ordm; 1180475)</span>
										</span> </strong></em></span> </span> </span></p>
			</td>
			<td style="width: 26.0512%;" colspan="3" bgcolor="#0099ff" width="33%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: medium;"><em><strong>1180475@isep.ipp.pt</strong></em></span> </span>
					</span></p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 6%;" bgcolor="#0099ff" width="6%">
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="width: 36.4395%;" colspan="5" bgcolor="#0099ff" width="44%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #000000;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: medium;"><em><strong> <span style="color: #ffffff;">Hugo Costa
											(N&ordm; 1191415)</span> </strong></em></span> </span> </span></p>
			</td>
			<td style="width: 26.0512%;" colspan="3" bgcolor="#0099ff" width="33%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"> <span style="font-family: Thorndale, serif;"> <span
								style="font-size: medium;"><em><strong>1191415@isep.ipp.pt</strong></em></span> </span>
					</span></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 13.4395%;" colspan="3" bgcolor="#ffffff" width="16%" height="12">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Introdu&ccedil;&atilde;o"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											lang="pt-BR"><span style="font-style: normal;"><span
													style="font-weight: normal;">Introdu&ccedil;&atilde;o</span></span></span>
									</span> </span> </span></span> </a></p>
			</td>
			<td style="width: 15%;" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Arquitetura"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Arquitetura</span></span></span> </span>
							</span></span> </a></p>
			</td>
			<td style="width: 14%;" bgcolor="#ffffff" width="14%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Hardware"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Hardware</span></span></span> </span>
							</span></span> </a></p>
			</td>
			<td style="width: 11.0512%;" colspan="2" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Software"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Software</span></span></span> </span>
							</span></span> </a></p>
			</td>
			<td style="width: 15%;" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Resultados"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Resultados</span></span></span> </span>
							</span></span> </a></p>
			</td>
			<td style="width: 17.7061%;" colspan="2" bgcolor="#ffffff" width="12%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Conclus&otilde;es"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Conclus&otilde;es</span></span></span>
								</span> </span></span> </a></p>
			</td>
			<td style="width: 12.8368%;" colspan="2" bgcolor="#ffffff" width="13%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Refer&ecirc;ncias"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Refer&ecirc;ncias</span></span></span>
								</span> </span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" bgcolor="#ffffff" width="100%">
				<p style="background: #0099ff;" align="CENTER">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.5cm; background: #eeeeee;" align="CENTER"><br /><br /></p>
				<p style="background: #eeeeee;" align="CENTER"><a href="video01.mp4"><img src="index_html_m7cd6da5e.gif"
							width="360" height="256"
							name="/HOME/JTP/DOCUMENTS/BACK_10/ISEP-PUGA/2012-2013/2-SEM/LABSIS/NETPAG/VIDEO01.MP4"
							align="BOTTOM" border="0" /></a></p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Introdu&ccedil;&atilde;o"></a> <span style="font-family: Thorndale, serif;"> <span
									style="font-size: large;"><span
										style="font-style: normal;">Introdu&ccedil;&atilde;o</span></span> </span></p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p>&nbsp; &nbsp; &nbsp;O presente relat&oacute;rio insere-se no &acirc;mbito da unidade curricular de
					Laborat&oacute;rio de Sistemas, do 3&ordm; ano curricular da licenciatura em Engenharia
					Eletrot&eacute;cnica e Computadores (LEEC), do Departamento de Engenharia Eletrot&eacute;cnica (DEE)
					do ISEP - Instituto Superior de Engenharia do Porto, pelo respons&aacute;vel da unidade curricular,
					o Professor Doutor Lino Figueiredo. O prop&oacute;sito desta disciplina &eacute; o projecto e
					implementa&ccedil;&atilde;o de sistemas de m&eacute;dia complexidade, pelo que os alunos
					dever&atilde;o possuir previamente conhecimentos de diversas &aacute;reas cient&iacute;ficas que vai
					desde da electr&oacute;nica e controlo at&eacute; ao desenvolvimento de software.</p>
				<ul>
					<li><strong>Contextualiza&ccedil;&atilde;o</strong></li>
				</ul>
				<p>&nbsp; &nbsp; O desenvolvimento tecnol&oacute;gico das redes de <strong>comunica&ccedil;&atilde;o de
						dados</strong> est&aacute; diariamente mais din&acirc;mico, provocando um crescimento
					exponencial na procura por novas aplica&ccedil;&otilde;es e servi&ccedil;os mais complexos pela
					sociedade. Como consequ&ecirc;ncia desse cen&aacute;rio, em que as pessoas necessitam de novos
					recursos para a resolu&ccedil;&atilde;o de problemas do dia a dia, o desafio da atualidade &eacute;
					trazer o <strong>controle</strong> e <strong>monitoriza&ccedil;&atilde;o</strong> em tempo real das
					opera&ccedil;&otilde;es mesmo em lugares in&oacute;spitos.</p>
				<p>&nbsp; &nbsp; Ainda nesse contexto, a <strong>mobilidade</strong> &eacute; uma tem&aacute;tica
					fulcral &agrave; sociedade, &agrave; qual est&aacute; associado um panorama de conflitos e
					anomalias, diariamente. Consequentemente, este panorama gerou uma eleva&ccedil;&atilde;o no
					desenvolvimento de aplica&ccedil;&otilde;es para ve&iacute;culos conectados, como sistemas de
					navega&ccedil;&atilde;o e transportes mais inteligentes e vers&aacute;teis. Devido ao facto, da
					melhoria na cobertura de rede bem como tecnologias habilitadoras de comunica&ccedil;&atilde;o
					m&oacute;vel.</p>
				<p>&nbsp; &nbsp; Face &agrave;s descri&ccedil;&otilde;es anteriores, assentes no desafio da
					mobiliza&ccedil;&atilde;o e a sua necessidade de ser controlada e monitorizada surge o conceito da
					<strong>Telemetria Autom&oacute;vel</strong> para responder aos conflitos e anomalias presentes no
					meio. Entenda-se como um <strong>sistema de gest&atilde;o</strong>, em tempo real, o qual recolhe e
					armazena informa&ccedil;&otilde;es do ve&iacute;culo, e as repassa de forma remota para um
					determinado interface gr&aacute;fico para, &agrave; posteriori, serem analisadas e efetuadas as
					devidas a&ccedil;&otilde;es.</p>
				<ul>
					<li><strong>Objectivos</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Fazendo alus&atilde;o aos t&oacute;picos j&aacute; abordados anteriormente, e no
					&acirc;mbito da unidade curricular de Laborat&oacute;rio de Sistemas (LABSI), tem-se como ponto de
					estudo a realiza&ccedil;&atilde;o e desenvolvimento de um sistema (Figura 1) de Telemetria
					Autom&oacute;vel capaz de fazer a aquisi&ccedil;&atilde;o de dados de um ve&iacute;culo para,
					seguidamente, serem disponibilizados numa interface wireless de forma a permitir um diagnostico em
					tempo &uacute;til.</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Arquitetura"></a> <span style="font-size: large;">Arquitetura</span></p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT">&nbsp; &nbsp; Para este
					estudo, a ideia &eacute; ter um microcontrolador, com um conjunto de sensores, capaz de medir e
					monitorizar diferentes dados provenientes do ve&iacute;culo, no qual este se encontra instalado. Os
					dados a ser monitorizados seriam os que usualmente encontramos em todos os carros modernos, tais
					como velocidade instant&acirc;nea, velocidade m&eacute;dia, temperatura de componentes cruciais,
					posi&ccedil;&atilde;o GPS, etc. Para isto, o sistema iria ter que comunicar com outra
					m&aacute;quina, com software pr&oacute;prio, para o tratamento e exibi&ccedil;&atilde;o dos
					mesmos.<br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><img
						style="display: block; margin-left: auto; margin-right: auto;" src="Arquitetura.png"
						alt="Fig.1 - Arquitetura do Sistema" width="25%" height="25%" /></p>
				<figcaption align="CENTER">Fig. 1 - Diagrama de blocos do Sistema</figcaption> 
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a name="Hardware"></a>
							<span style="font-size: large;">Hardware</span></p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<ul>
					<li style="border: none;"><strong>Microcontrolador ESP32</strong></li>
				</ul>
				<p>Aquisi&ccedil;&atilde;o de dados e seu processamento</p>
				<ul>
					<li style="border: none;"><strong>Mini-computador (Raspberry Pi)</strong></li>
				</ul>
				<p>Placa de rede (Servidor MQTT)</p>
				<ul>
					<li><strong>Sensor de Temperatura (Termistor NTC)</strong></li>
				</ul>
				<p>Os NTC&rsquo;s s&atilde;o term&iacute;stores que se apresentam muito vers&aacute;teis, precisos e com
					alguma estabilidade a longo prazo, a par de uma boa rela&ccedil;&atilde;o de qualidade pre&ccedil;o.
					Tem como princ&iacute;pio basico de funcionamento:&nbsp;diminuir sensivelmente a sua
					resist&ecirc;ncia el&eacute;trica com o <br />aumento da temperatura</p>
				<ul>
					<li><strong>M&oacute;dulo GPS (Neo-6m)</strong></li>
				</ul>
				<p>Aquisi&ccedil;&atilde;o das coordenadas em tempo real.</p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a name="Software"></a>
							<span style="font-size: large;">Software</span></p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<ul>
					<li style="border: none;"><strong>Mosquitto</strong></li>
				</ul>
				<p>Servidor MQTT (Protocolo de Comunica&ccedil;&atilde;o TCP/IP)</p>
				<ul>
					<li><strong>Flask &amp; Python</strong></li>
				</ul>
				<p>Web Framework escrita em Python. Classificada como um microframework porque n&atilde;o requer
					ferramentas ou bibliotecas particulares, mantendo um n&uacute;cleo simples, por&eacute;m,
					extens&iacute;vel.</p>
				<ul>
					<li><strong>HTML &amp; JavaScript</strong><br /><br /></li>
				</ul>
				<p>Sendo HTML o padr&atilde;o de resposta do Flask, foi necess&aacute;rio ao grupo a
					implementa&ccedil;&atilde;o desta linguagem de marca&ccedil;&atilde;o utilizada na
					constru&ccedil;&atilde;o da p&aacute;gina Web (framework). Assim como, a implementa&ccedil;&atilde;o
					de determinadas fun&ccedil;&otilde;es em JavaScript para a obten&ccedil;&atilde;o, em tempo real,
					dos dados lidos e estes poderem ser automaticamente visualizados na pagina sem o recurso de
					refrescamento da p&aacute;gina.</p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Resultados"></a> <span style="font-size: large;">Resultados</span></p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Conclus&otilde;es"></a> <span style="font-size: large;">Conclus&otilde;es</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Refer&ecirc;ncias"></a> <span style="font-size: large;">Refer&ecirc;ncias</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"> <span
							style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
		<tr>
			<td style="width: 99.0336%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><a
						name="_Ref153776170"></a><a name="_Ref152167798"></a> <span lang="en-US">[1]</span> <span
						lang="en-US">Espressif Systems (Shanghai) Co., Ltd., "ESP-IDF Programming Guide" [Online],
						Available: <a
							href="https://docs.espressif.com/projects/esp-idf/en/latest/esp32/">https://docs.espressif.com/projects/esp-idf/en/latest/esp32/</a>.
						[Accessed 31 December 2022]. </span></p>
				<p style="margin-bottom: 0.5cm;"><a name="_Ref153776244"></a>[2] Author Unknown, "Documentation",
					[Online]. Available: <a href="https://mosquitto.org/">https://mosquitto.org/</a>. [Accessed 15
					November 2022].</p>
				<p style="margin-bottom: 0.5cm;"><a name="_Ref153776279"></a><span lang="en-GB">[3]</span> Pallets,
					"Quickstart", [Online]. Available: <a
						href="https://flask.palletsprojects.com/en/2.2.x/">https://flask.palletsprojects.com/en/2.2.x/</a>.
					[Accessed 30 November 2022].</p>
				<p style="margin-bottom: 0.5cm;"><a name="_Ref153776394"></a><a name="_Ref117412991"></a> <span
						lang="en-GB">[4]</span> Refsnes Data, "HTML Tutorial", [Online]. Available: <a
						href="https://www.w3schools.com/html/">https://www.w3schools.com/html/</a>.
					[Accessed 30 November 2022].</p>
			</td>
		</tr>
		<tr valign="TOP">
			<td style="width: 93.0336%;" colspan="11" width="94%">
				<p style="background: #0099ff;" align="LEFT">&nbsp;</p>
			</td>
			<td style="width: 6%;" width="6%">
				<p style="background: transparent; border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio">
						<span style="color: #000000;"><span style="text-decoration: none;"> <span
									style="font-family: Thorndale, serif;"> <span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span> </span>
							</span></span> </a></p>
			</td>
		</tr>
	</tbody>
</table>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="CENTER"><br /><br /></p>