<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="break-before: page; height: 2592px; width: 100%;" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr style="height: 143px;" valign="TOP">
			<td style="height: 143px; width: 6%;" colspan="2" bgcolor="#0099ff" width="9%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="height: 143px; width: 61.324%;" colspan="7" bgcolor="#0099ff" width="75%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="border-top: none; border-bottom: 1.00pt solid #000000; border-left: none; border-right: none; text-decoration: none; padding: 0cm 0cm 0.08cm 0cm;"
					align="LEFT"><a name="In&iacute;cio"></a> <span style="color: #ffffff;"><span
							style="font-family: Thorndale, serif;"><span
								style="font-size: xx-large;"><em><strong>Telemetria
										Autom&oacute;vel</strong></em></span></span></span></p>
			</td>
			<td style="height: 286px; width: 30.4041%;" colspan="3" rowspan="4" bgcolor="#0099ff" width="17%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT"><br /><br /></p>
				<p style="margin-bottom: 0.51cm; background: transparent; border: none; padding: 0cm; text-decoration: none;"
					align="CENTER"><img src="../static/figures/image002.jpg" width="231" height="110" name="graphics1" align="RIGHT"
						border="0" /><br clear="RIGHT" /><span style="color: #ffffff;"><span
							style="font-family: Thorndale, serif;"><span
								style="font-size: large;"><em><strong>LABSIS</strong></em></span></span></span></p>
				<p style="margin-bottom: 0.51cm; background: transparent; border: none; padding: 0cm; text-decoration: none;"
					align="CENTER"><span style="color: #ffffff;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: medium;"><em><strong>2022/2023</strong></em></span></span></span></p>
				<p align="CENTER">&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 37px;" valign="TOP">
			<td style="height: 37px; width: 67.324%;" colspan="9" bgcolor="#0099ff" width="83%" height="34">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: large;"><em><strong>Autores:</strong></em></span></span></span></p>
			</td>
		</tr>
		<tr style="height: 34px;" valign="TOP">
			<td style="height: 34px; width: 6%;" bgcolor="#0099ff" width="6%">
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="height: 34px; width: 35.8936%;" colspan="5" bgcolor="#0099ff" width="44%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #000000;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: xx-small;"><em><strong><span style="color: #ffffff;"><span
												style="font-size: medium;">Manuel Ferreira (N&ordm;
												1180475)</span></span> </strong></em></span></span></span></p>
			</td>
			<td style="height: 34px; width: 25.4303%;" colspan="3" bgcolor="#0099ff" width="33%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: medium;"><em><strong>1180475@isep.ipp.pt</strong></em></span></span></span>
				</p>
			</td>
		</tr>
		<tr style="height: 72px;" valign="TOP">
			<td style="height: 72px; width: 6%;" bgcolor="#0099ff" width="6%">
				<p align="LEFT">&nbsp;</p>
			</td>
			<td style="height: 72px; width: 35.8936%;" colspan="5" bgcolor="#0099ff" width="44%">
				<p style="border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #000000;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: medium;"><em><strong><span style="color: #ffffff;">Hugo Costa
											(N&ordm;1191415)</span> </strong></em></span></span></span></p>
			</td>
			<td style="height: 72px; width: 25.4303%;" colspan="3" bgcolor="#0099ff" width="33%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm; text-decoration: none;" align="LEFT"><span
						style="color: #ffffff;"><span style="font-family: Thorndale, serif;"><span
								style="font-size: medium;"><em><strong>1191415@isep.ipp.pt</strong></em></span></span></span>
				</p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 34px;">
			<td style="height: 34px; width: 12.8936%;" colspan="3" bgcolor="#ffffff" width="16%" height="12">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Introdu&ccedil;&atilde;o"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											lang="pt-BR"><span style="font-style: normal;"><span
													style="font-weight: normal;">Introdu&ccedil;&atilde;o</span></span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 15%;" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Arquitetura"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Arquitetura</span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 14%;" bgcolor="#ffffff" width="14%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Hardware"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Hardware</span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 10.4303%;" colspan="2" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Software"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Software</span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 15%;" bgcolor="#ffffff" width="15%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Resultados"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Resultados</span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 17.8084%;" colspan="2" bgcolor="#ffffff" width="12%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Conclus&otilde;es"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Conclus&otilde;es</span></span></span></span></span></span></a>
				</p>
			</td>
			<td style="height: 34px; width: 12.5957%;" colspan="2" bgcolor="#ffffff" width="13%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#Refer&ecirc;ncias"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: medium;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">Refer&ecirc;ncias</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 32px;">
			<td style="height: 32px; width: 97.7281%;" colspan="12" bgcolor="#ffffff" width="100%">
				<p style="background: #0099ff;" align="CENTER">&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 329px;">
			<td style="height: 329px; width: 97.7281%;" colspan="12" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.5cm; background: #eeeeee;" align="CENTER"></p>
				<p style="background: #eeeeee;" align="CENTER"><a href="../static/figures/website.png"><img src="../static/figures/website.png"
							width="360" height="256" name="website" align="BOTTOM" border="0" /></a></p>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Introdu&ccedil;&atilde;o"></a> <span style="font-family: Thorndale, serif;"><span
									style="font-size: large;"><span
										style="font-style: normal;">Introdu&ccedil;&atilde;o</span></span></span></p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p style="margin-bottom: 0.51cm; border: none; padding: 0cm;" align="LEFT">&nbsp; &nbsp; O presente
					relat&oacute;rio insere-se no &acirc;mbito da unidade curricular de Laborat&oacute;rio de Sistemas,
					do 3&ordm; ano curricular da licenciatura em Engenharia Eletrot&eacute;cnica e Computadores (LEEC),
					do Departamento de Engenharia Eletrot&eacute;cnica (DEE) do ISEP - Instituto Superior de Engenharia
					do Porto, pelo respons&aacute;vel da unidade curricular, o Professor Doutor Lino Figueiredo. O
					prop&oacute;sito desta disciplina &eacute; o projecto e implementa&ccedil;&atilde;o de sistemas de
					m&eacute;dia complexidade, pelo que os alunos dever&atilde;o possuir previamente conhecimentos de
					diversas &aacute;reas cient&iacute;ficas que vai desde da electr&oacute;nica e controlo at&eacute;
					ao desenvolvimento de software.<br /><br /></p>
				<ul>
					<li style="border: none;"><strong>Contextualiza&ccedil;&atilde;o</strong></li>
				</ul>
				<p>&nbsp; &nbsp; O desenvolvimento tecnol&oacute;gico das redes
					de&nbsp;<strong>comunica&ccedil;&atilde;o de dados</strong>&nbsp;est&aacute; diariamente mais
					din&acirc;mico, provocando um crescimento exponencial na procura por novas aplica&ccedil;&otilde;es
					e servi&ccedil;os mais complexos pela sociedade. Como consequ&ecirc;ncia desse cen&aacute;rio, em
					que as pessoas necessitam de novos recursos para a resolu&ccedil;&atilde;o de problemas do dia a
					dia, o desafio da atualidade &eacute; trazer
					o&nbsp;<strong>controle</strong>&nbsp;e&nbsp;<strong>monitoriza&ccedil;&atilde;o</strong>&nbsp;em
					tempo real das opera&ccedil;&otilde;es mesmo em lugares in&oacute;spitos.</p>
				<p>&nbsp; &nbsp; Ainda nesse contexto, a&nbsp;<strong>mobilidade</strong>&nbsp;&eacute; uma
					tem&aacute;tica fulcral &agrave; sociedade, &agrave; qual est&aacute; associado um panorama de
					conflitos e anomalias, diariamente. Consequentemente, este panorama gerou uma eleva&ccedil;&atilde;o
					no desenvolvimento de aplica&ccedil;&otilde;es para ve&iacute;culos conectados, como sistemas de
					navega&ccedil;&atilde;o e transportes mais inteligentes e vers&aacute;teis. Devido ao facto, da
					melhoria na cobertura de rede bem como tecnologias habilitadoras de comunica&ccedil;&atilde;o
					m&oacute;vel.</p>
				<p>&nbsp; &nbsp; Face &agrave;s descri&ccedil;&otilde;es anteriores, assentes no desafio da
					mobiliza&ccedil;&atilde;o e a sua necessidade de ser controlada e monitorizada surge o conceito
					da&nbsp;<strong>Telemetria Autom&oacute;vel</strong>&nbsp;para responder aos conflitos e anomalias
					presentes no meio. Entenda-se como um&nbsp;<strong>sistema de gest&atilde;o</strong>, em tempo real,
					o qual recolhe e armazena informa&ccedil;&otilde;es do ve&iacute;culo, e as repassa de forma remota
					para um determinado interface gr&aacute;fico para, &agrave; posteriori, serem analisadas e efetuadas
					as devidas a&ccedil;&otilde;es.</p>
				<ul>
					<li style="background: #eeeeee;"><strong>Objectivos</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Fazendo alus&atilde;o aos t&oacute;picos j&aacute; abordados anteriormente, e no
					&acirc;mbito da unidade curricular de Laborat&oacute;rio de Sistemas (LABSI), tem-se como ponto de
					estudo a realiza&ccedil;&atilde;o e desenvolvimento de um sistema (Figura 1) de Telemetria
					Autom&oacute;vel capaz de fazer a aquisi&ccedil;&atilde;o de dados de um ve&iacute;culo para,
					seguidamente, serem disponibilizados numa interface wireless de forma a permitir um diagnostico em
					tempo &uacute;til.</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Arquitetura"></a> <span style="font-size: large;">Arquitetura</span></p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p align="LEFT">&nbsp; &nbsp; Para este estudo, a ideia &eacute; ter um microcontrolador, com um
					conjunto de sensores, capaz de medir e monitorizar diferentes dados provenientes do ve&iacute;culo,
					no qual este se encontra instalado. Os dados a ser monitorizados seriam os que usualmente
					encontramos em todos os carros modernos, tais como velocidade instant&acirc;nea, velocidade
					m&eacute;dia, temperatura de componentes cruciais, posi&ccedil;&atilde;o GPS, etc. Para isto, o
					sistema iria ter que comunicar com outra m&aacute;quina, com software pr&oacute;prio, para o
					tratamento e exibi&ccedil;&atilde;o dos mesmos.</p>
				<p align="LEFT">&nbsp; &nbsp; Este projeto foi desenvolvido de forma a ser o mais gen&eacute;rico
					poss&iacute;vel, de maneira a possibilitar uma integra&ccedil;&atilde;o facilitada de novos sensores
					e atuadores.</p>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/SystemArch.png"
					alt="Fig.1 - Arquitetura do Sistema" width="40%" height="160%" />
				<figcaption align="CENTER">Fig. 1 - Arquitetura do Sistema</figcaption><br>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a name="Hardware"></a>
							<span style="font-size: large;">Hardware</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<ul>
					<li style="border: none;"><strong>Microcontrolador ESP32</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Como o microcontrolador &eacute; a base de todo o projeto, decidiu-se desde o
					in&iacute;cio optar por um microcontrolador que daria garantias de ter o necess&aacute;rio para a
					realiza&ccedil;&atilde;o do projeto (principalmente Pins ADC suficientes e m&oacute;dulo de Wi-Fi),
					sendo que este seria respons&aacute;vel pela aquisi&ccedil;&atilde;o de dados e o seu processamento.
				</p>
				<p>&nbsp; &nbsp;Especifica&ccedil;&otilde;es:</p>
				<table style="border-collapse: collapse; width: 100%; height: 180px;" border="1">
					<tbody>
						<tr style="height: 18px;">
							<td style="width: 50%; height: 18px; text-align: center;">Microprocessador</td>
							<td style="width: 49.9435%; height: 18px; text-align: center;">Tensilica Xtensa LX6 (Dual
								Core)</td>
						</tr>
						<tr style="height: 18px;">
							<td style="width: 50%; height: 18px; text-align: center;">Frequ&ecirc;ncia Maxima de
								Funcionamento</td>
							<td style="width: 49.9435%; height: 18px; text-align: center;">240 MHz</td>
						</tr>
						<tr style="height: 18px;">
							<td style="width: 50%; height: 18px; text-align: center;">Tens&atilde;o de
								alimenta&ccedil;&atilde;o</td>
							<td style="width: 49.9435%; height: 18px; text-align: center;">3.3 V</td>
						</tr>
						<tr style="height: 18px;">
							<td style="width: 50%; height: 18px; text-align: center;">Analong Input Pins</td>
							<td style="width: 49.9435%; text-align: center;">12-bit, 18 channel</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">DAC Pins</td>
							<td style="width: 49.9435%; text-align: center;">8-bit, 2 Channel</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">Digital I/O Pins</td>
							<td style="width: 49.9435%; text-align: center;">39 (em que 34 s&atilde;o normal GPIO pin)
							</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">Corrente DC nos I/O Pins</td>
							<td style="width: 49.9435%; text-align: center;">40 mA</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">Corrente DC nos 3.3V Pin</td>
							<td style="width: 49.9435%; text-align: center;">50 mA</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">SRAM</td>
							<td style="width: 49.9435%; text-align: center;">520 KB</td>
						</tr>
						<tr style="height: 18px;">
							<td style="width: 50%; height: 18px; text-align: center;">Comunica&ccedil;&atilde;o</td>
							<td style="width: 49.9435%; text-align: center;">SPI(4), I2C(2), I2S(2), CAN, UART(3)</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">Wi-Fi</td>
							<td style="width: 49.9435%; text-align: center;">802.11&nbsp;b/g/n</td>
						</tr>
						<tr>
							<td style="width: 50%; text-align: center;">Bluetooth</td>
							<td style="width: 49.9435%; text-align: center;">V4.2 &ndash; Suporta BLE e Classic
								Bluetooth</td>
						</tr>
					</tbody>
				</table>
				<p align="LEFT"><img style="display: block; margin-left: auto; margin-right: auto;"
						src="https://pt.mouser.com/images/espressifsystems/lrg/ESP32-DevKitC-32D_t.jpg" alt=""
						width="200" height="317" /></p>
				<figcaption align="CENTER">Fig. 2 - Microcontrolador ESP32</figcaption>
				<ul>
					<li><strong>Mini-Computador (Raspberry Pi 3 Model B)</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Com a necessidade de cria&ccedil;&atilde;o de um servidor
					<strong>MQTT</strong>&nbsp;(em&nbsp;<strong>prot&oacute;colo TCP/IP</strong>) para a rapida e
					eficiente troca de dados, inicialmente, o grupo optou por atrav&ecirc;s de
					virtualiza&ccedil;&atilde;o de Linux abrir o servidor (por conveni&ecirc;ncia).&nbsp;Mas,
					rapidamente, deparou-se com um problema que iria dificultar no desenvolvimento do projeto, que foram
					constates quedas do servidor, muito provavelmente devido a esta virtualiza&ccedil;&atilde;o.
				</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;"
						src="https://static.fnac-static.com/multimedia/Images/PT/NR/0b/dd/15/1432843/1541-1.jpg" alt=""
						width="225" height="225" /></p>
				<figcaption align="CENTER">Fig. 3 - Mini-Computador Raspberry Pi</figcaption>
				<p>&nbsp; &nbsp; Como tal, o grupo optou por usar um <strong>Raspberry Pi</strong>&nbsp;para inicializar
					este servidor MQTT, sendo este o nosso&nbsp;<em>Broker.&nbsp;</em>Conseguindo assim, ultrapassar o
					problema das quedas de algum dos dispositivos em uso e ao mesmo tempo garantir
					uma&nbsp;<strong>eficiente</strong>&nbsp;e&nbsp;<strong>segura</strong>&nbsp;troca de
					informa&ccedil;&atilde;o. O mini-computador escolhido foi ent&atilde;o&nbsp;<strong>Raspberry Pi 3
						Model B</strong>.</p>
				<ul>
					<li><strong>Sensor de Temperatura (Termistor NTC)</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Os NTC&rsquo;s s&atilde;o term&iacute;stores que se apresentam muito vers&aacute;teis,
					precisos e com alguma estabilidade a longo prazo, a par de uma boa rela&ccedil;&atilde;o de
					qualidade pre&ccedil;o. Tem como princ&iacute;pio basico de funcionamento:&nbsp;diminuir
					sensivelmente a sua resist&ecirc;ncia el&eacute;trica com o aumento da temperatura.</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;"
						src="https://www.electronicaembajadores.com/datos/fotos/articulos/grandes/ss/sste/sstentc_srp.jpg"
						alt="" width="273" height="205" /></p>
				<figcaption align="CENTER">Fig. 4 - Termistor NTC 10k</figcaption>
				<ul>
					<li><strong>M&oacute;dulo GPS (Neo-6m)</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Um dos objetivos ao qual o grupo se prop&ocirc;s foi a obten&ccedil;&atilde;o em tempo
					real das coordenadas e velocidades, para tal era necess&aacute;rio um&nbsp;<strong>m&oacute;dulo
						GPS</strong>. Ap&oacute;s uma pesquisa, o grupo constatou que o m&oacute;dulo&nbsp;<strong>Neo
						6M&nbsp;</strong>era um dos mais utilizados, visto ter uma boa rela&ccedil;&atilde;o qualidade
					pre&ccedil;o. Com este m&oacute;dulo conseguia-se uma rapida atualiza&ccedil;&atilde;o das
					coordenadas (cerca de 5 Hz frequ&ecirc;ncia), era configur&aacute;vel entre 4800 a 115200 Baud rates
					por UART (comunica&ccedil;&atilde;o s&eacute;rie UART pelos
					Pins&nbsp;<strong>RX</strong>&nbsp;e&nbsp;<strong>TX</strong>), e inclu&iacute;a uma antena GPS (18
					x 18 mm).</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;"
						src="https://blog.eletrogate.com/wp-content/uploads/2018/01/gps-neo-6m-com-arduino.jpg" alt=""
						width="255" height="222" /></p>
				<figcaption align="CENTER">Fig. 5 - M&oacute;dulo GPS Neo-6m</figcaption>
				<ul>
					<li><strong>Esquema El&eacute;trico e PCB</strong></li>
				</ul>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/esquema.PNG" alt=""
						width="340" height="301" /></p>
				<figcaption align="CENTER">Fig. 6 - Esquema El&eacute;trico</figcaption>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/pcb.PNG" alt=""
						width="221" height="181" /></p>
				<figcaption align="CENTER">Fig. 7 - PCB</figcaption><br>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a name="Software"></a>
							<span style="font-size: large;">Software</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<ul>
					<li style="border: none;"><strong>Mosquitto</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Servidor MQTT (Protocolo de Comunica&ccedil;&atilde;o TCP/IP)</p>
				<ul>
					<li><strong>Flask &amp; Python</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Web Framework escrita em Python. Classificada como um microframework porque n&atilde;o
					requer ferramentas ou bibliotecas particulares, mantendo um n&uacute;cleo simples, por&eacute;m,
					extens&iacute;vel.</p>
				<ul>
					<li><strong>HTML &amp; JavaScript</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Sendo HTML o padr&atilde;o de resposta do Flask, foi necess&aacute;rio ao grupo a
					implementa&ccedil;&atilde;o desta linguagem de marca&ccedil;&atilde;o utilizada na
					constru&ccedil;&atilde;o da p&aacute;gina Web (framework). Assim como, a implementa&ccedil;&atilde;o
					de determinadas fun&ccedil;&otilde;es em JavaScript para a obten&ccedil;&atilde;o, em tempo real,
					dos dados lidos e estes poderem ser automaticamente visualizados na p&aacute;gina sem o recurso de
					refrescamento da p&aacute;gina.</p>
				<ul>
					<li><strong>FreeRTOS</strong></li>
				</ul>
				<p><em>Kernel</em>&nbsp;para o microcontrolador.</p>
				<ul>
					<li><strong>Microcontrolador</strong></li>
				</ul>
				<p>&nbsp; &nbsp; O microcontrolador ESP32 &eacute; respons&aacute;vel por enviar e ler dados dos
					perif&eacute;ricos, assim como transmitir e receber informa&ccedil;&atilde;o
					do&nbsp;<em>broker&nbsp;</em>de MQTT. Com o uso do FreeRTOS &eacute; poss&iacute;vel concretizar
					estas tarefas simult&acirc;neamente, facilitando assim este processo.</p>
				<p>&nbsp; &nbsp; O programa desenvolve-se de acordo com o seguinte fluxograma:</p>
				<p>&nbsp; &nbsp; O programa, ap&oacute;s iniciar as tarefas, ir&aacute; correr em ciclo infinito,
					constantemente a receber e enviar dados dos perif&eacute;ricos e do&nbsp;<em>broker.</em></p>
				<p>&nbsp; &nbsp; Conforme o fluxograma, come&ccedil;a-se por efetuar as inicializa&ccedil;&otilde;es do
					WiFi e dos leds, e a iniciar as seguintes tarefas:</p>
				<ul>
					<li style="list-style-type: none;">
						<ul>
							<li>MQTT Task - Respons&aacute;vel por receber e transmitir dados de e para
								o&nbsp;<em>broker</em>.</li>
							<li>Temp Task - Respons&aacute;vel por ler os dados dos sensores de temperatura, e fazer o
								tratamento dos mesmos.</li>
							<li>GPS Task - Respons&aacute;vel por ler e fazer o tratamento dos dados provenientes do
								m&oacute;dulo de GPS.</li>
						</ul>
					</li>
				</ul>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/Main Sys.png" alt=""
						width="25%" height="25%" /></p>
				<figcaption align="CENTER">Fig. 8 - Fluxograma do Microcontrolador</figcaption>
				<ul>
					<li><strong>MQTT Task</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Esta tarefa, ap&oacute;s inicializa&ccedil;&atilde;o do cliente, subscreve aos
					t&oacute;picos relevantes &agrave; fun&ccedil;&atilde;o do microcontrolador e fica &agrave; espera
					de eventos, sendo o mais importante o MQTT_EVENT_DATA. &Eacute; atrav&eacute;s
					desta&nbsp;<em>flag</em>&nbsp;que o microcontrolador sabe que &eacute; recebida
					informa&ccedil;&atilde;o de qualquer um dos t&oacute;picos subscritos. Ap&oacute;s a chegada
					dessa&nbsp;<em>flag</em>, s&atilde;o tratados os valores para serem chamados na
					fun&ccedil;&atilde;o&nbsp;<strong>process_data</strong>, que executa o definido para cada mensagem
					recebida.</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/MQTT Task.png" alt=""
						width="15%" height="15%" /></p>
				<figcaption align="CENTER">Fig. 9 - Fluxograma MQTT</figcaption>
				<ul>
					<li><strong>Temp Task</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Esta tarefa executa a inicializa&ccedil;&atilde;o do sensor de temperatura e entra num
					ciclo infinito, em que &eacute; feita uma leitura do mesmo a cada 3 segundos. &Eacute; chamada a
					fun&ccedil;&atilde;o&nbsp;<strong>get_NTC_temp</strong>&nbsp;para fazer o tratamento dos dados, e
					retorna-os em graus Celsius, Fahrenheit e Kelvin.</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/Temp Task.png" alt=""
						width="10%" height="10%" /></p>
				<figcaption align="CENTER">Fig. 10 - Fluxograma Leitura Temperatura</figcaption>
				<ul>
					<li><strong>GPS Task</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Esta tarefa configura e inicializa o m&oacute;dulo de GPS. De seguida fica &agrave;
					espera da&nbsp;<em>flag</em>&nbsp;GPS_UPDATE, que indica que foram recebidos dados atualizados do
					m&oacute;dulo no protocolo NMEA 0183. Ao receber a&nbsp;<em>flag</em>, estes dados s&atilde;o
					tratados para serem obtidos apenas os valores de latitude, longitude e velocidade, sendo estes
					posteriormente enviados para o&nbsp;<em>broker</em>.</p>
				<p><img style="display: block; margin-left: auto; margin-right: auto;" src="../static/figures/GPS Task.png" alt=""
						width="10%" height="10%" /></p>
				<figcaption align="CENTER">Fig. 11 - Fluxograma GPS</figcaption>
				<ul>
					<li><strong>Website</strong></li>
				</ul>
				<p>&nbsp; &nbsp; Para a exibi&ccedil;&atilde;o de resultados foi criado
					um&nbsp;<em>webiste</em>&nbsp;com a Web Framework Flask, em Python. Este tamb&eacute;m &eacute; um
					cliente do&nbsp;<em>broker</em>&nbsp;MQTT, permitindo assim uma rece&ccedil;&atilde;o de dados sem
					fios.</p>
				<p>&nbsp; &nbsp; Nesta vers&atilde;o &eacute; poss&iacute;vel ler os dados da velocidade e temperatura,
					o estado do LED de aviso e ainda um mapa, utilizando o Google Maps API, que &eacute; atualizado de
					acordo com as coordenadas recebidas do GPS. Tamb&eacute;m &eacute; poss&iacute;vel ser enviado um
					sinal para mudar o estado do LED de aviso.</p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Resultados"></a> <span style="font-size: large;">Resultados</span></p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">&nbsp;
				<video style="display: block; margin-left: auto; margin-right: auto; width: 400; height: 320;" controls>
					<source align="CENTER" src="../static/figures/resultados.mp4" type="video/mp4">
					<source align="CENTER" src="../static/figures/resultados.mp4" type="video/ogg">
				</video><br><br>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Conclus&otilde;es"></a> <span style="font-size: large;">Conclus&otilde;es</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 199px;">
			<td style="height: 199px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p align="LEFT">&nbsp; &nbsp; Com este projeto, o grupo foi capaz de aprofundar mais detalhadamente e
					aplicar conhecimentos<br />e conceitos lecionados ao longo do curso, dos quais destacamos
					a&nbsp;<strong>programa&ccedil;&atilde;o de baixo n&iacute;vel</strong>, nomeadamente em
					micrcocontroladores com aplica&ccedil;&atilde;o de&nbsp;<strong>sensores</strong>&nbsp;de diversas
					grandezas, o conceito de&nbsp;<strong>Redes</strong>, mais concretamente o protocolo TCP/IP, entre
					outros conceitos.</p>
				<p align="LEFT">&nbsp; &nbsp; Para o desenvolvimento do projeto foi ainda necess&aacute;rio ao grupo a
					aprendizagem de diversas ferramentas e tecnologias nunca antes aprofundadas no curso, destaca-se o
					conceito de&nbsp;<strong><em>framework</em>&nbsp;</strong>(com a utiliza&ccedil;&atilde;o do Flask),
					a utiliza&ccedil;&atilde;o de diversas linguagens de programa&ccedil;&atilde;o
					(nomeadamente&nbsp;<strong>Python</strong>&nbsp;na programa&ccedil;&atilde;o
					da&nbsp;<em>framework&nbsp;</em>e&nbsp;<strong>JavaScript&nbsp;</strong>nas diversas funcionalidades
					presentes no&nbsp;<em>website</em>&nbsp;desenvolvido).</p>
				<p align="LEFT">&nbsp; &nbsp; Tendo o projeto sido finalizado com sucesso, existem diversos aspetos que
					merecem a aten&ccedil;&atilde;o do grupo. N&atilde;o conseguindo implementar a funcionalidade de
					atrav&eacute;s do&nbsp;<em>website</em>, um mero utilizador atrav&eacute;s de
					uma&nbsp;<em>survey&nbsp;</em>(onde indicaria o tipo de sensor e as suas
					especifica&ccedil;&otilde;es) consegueria implementar novos sensores e adquirir dados de leitura dos
					mesmos. Isto porque, todo o c&oacute;digo de tratamento de dados foi desenvolvido neste &acirc;mbito
					e a escolha de todas as tecnologias presentes tamb&eacute;m. O grupo inclusive, tinha como objetivo
					ter implementado mais alguns sensores no prot&oacute;tipo, nomeadamente um aceler&ocirc;metro, pois
					iria obter dados de leitura das acelera&ccedil;&otilde;es mais correctos para al&eacute;m dos dados
					obtidos pelo m&oacute;dulo de GPS.</p>
				<p align="LEFT">&nbsp; &nbsp; Em suma, a disciplina provou-se desafiante, mas ao mesmo tempo cativante.
					Como grande parte do&nbsp;<em>software</em>&nbsp;foi constru&iacute;do de base, e toda a
					implementa&ccedil;&atilde;o do&nbsp;<em>hardware</em>&nbsp;feita pelo grupo, conseguimos retirar
					grandes vantagens daquilo que &eacute; o m&eacute;todo de aprendizagem da unidade curricular. O
					tempo para a realiza&ccedil;&atilde;o do projeto revelou-se mais curto do que esper&aacute;vamos,
					onde a fase final com a implementa&ccedil;&atilde;o das coordenadas em tempo real e sua
					visualiza&ccedil;&atilde;o atrav&eacute;s do Google Maps API se demonstrou muito mais complexa, mas
					os objetivos principais foram cumpridos.</p>
				<p align="LEFT">&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 51px;" valign="TOP">
			<td style="height: 51px; width: 91.7281%;" colspan="11" width="94%">
				<ul>
					<li>
						<p style="background: #0099ff; border: none; padding: 0cm;" align="LEFT"><a
								name="Refer&ecirc;ncias"></a> <span style="font-size: large;">Refer&ecirc;ncias</span>
						</p>
					</li>
				</ul>
			</td>
			<td style="height: 51px; width: 6%;" width="6%">
				<p style="border: none; padding: 0cm;" align="CENTER"><a href="#In&iacute;cio"><span
							style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
		<tr style="height: 327px;">
			<td style="height: 327px; width: 97.7281%;" colspan="12" valign="TOP" bgcolor="#eeeeee" width="100%">
				<p align="LEFT"><span lang="en-US"><a name="_Ref153776279"></a>[1]</span>&nbsp;<span
						lang="en-US">Espressif Systems (Shanghai) Co., Ltd., "ESP-IDF Programming Guide" [Online],
						Available:&nbsp;<a
							href="https://docs.espressif.com/projects/esp-idf/en/latest/esp32/">https://docs.espressif.com/projects/esp-idf/en/latest/esp32/</a>.
						[Accessed 31 December 2022].</span></p>
				<p><a name="_Ref153776244"></a>[2] Author Unknown, "Documentation", [Online]. Available:&nbsp;<a
						href="https://mosquitto.org/">https://mosquitto.org/</a>. [Accessed 15 November 2022].</p>
				<p><a name="_Ref153776279"></a><span lang="en-GB">[3]</span>&nbsp;Pallets, "Quickstart", [Online].
					Available:&nbsp;<a
						href="https://flask.palletsprojects.com/en/2.2.x/">https://flask.palletsprojects.com/en/2.2.x/</a>.
					[Accessed 30 November 2022].</p>
				<p><a name="_Ref153776394"></a><span lang="en-GB">[4]</span>&nbsp;Refsnes Data, "HTML Tutorial",
					[Online]. Available:&nbsp;<a
						href="https://www.w3schools.com/html/">https://www.w3schools.com/html/</a>. [Accessed 5 January
					2022].</p>
				<p><span lang="en-GB"><a name="_Ref117412991"></a>[5]</span>&nbsp;Mozilla Corporation's, "JavaScript
					Guide", [Online]. Available:&nbsp;<a
						href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide</a>.
					[Accessed 4 January 2023].</p>
				<p><span lang="en-GB"><a name="_Ref117412991"></a>[6]</span>&nbsp;Google Corporation's, "Google Maps API
					Guide", [Online]. Available:&nbsp;<a
						href="https://developers.google.com/docs">https://developers.google.com/docs</a>. [Accessed 7
					January 2023].</p>
			</td>
		</tr>
		<tr style="height: 33px;" valign="TOP">
			<td style="height: 33px; width: 91.7281%;" colspan="11" width="94%">
				<p style="background: #0099ff;" align="LEFT">&nbsp;</p>
			</td>
			<td style="height: 33px; width: 6%;" width="6%">
				<p style="background: transparent; border: none; padding: 0cm;" align="CENTER"><a
						href="#In&iacute;cio"><span style="color: #000000;"><span style="text-decoration: none;"><span
									style="font-family: Thorndale, serif;"><span style="font-size: small;"><span
											style="font-style: normal;"><span
												style="font-weight: normal;">In&iacute;cio</span></span></span></span></span></span></a>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="LEFT"><br /><br /></p>
<p align="CENTER"><br /><br /></p>